<!DOCTYPE html>
<html xmlns:th="http://www/thymeleaf.org">
<head>
    <title>Edit Anggota - PT. Mega Giga Solusindo</title>
    <link th:href="@{/resources/css.css}" href="/resources/css.css"  rel="stylesheet" type="text/css"  />
</head>
<body>
<nav>
    <div class="nav-wrapper cyan">
        <a href="dashboard" class="brand-logo">Sistem MGS</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="listAnggota">Anggota</a></li>
            <li><a href="listBuku">Buku</a></li>
            <li><a href="listPetugas">Petugas</a></li>
            <li><a href="listPeminjaman">Peminjaman</a></li>
            <li><a href="listPengembalian">Pengembalian</a></li>
            <li><a href="/">Log out</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="row col s8">
        <h4>Tambah/Edit Anggota</h4>
        <form action="saveAnggota" data-th-action="@{/saveAnggota}" data-th-object="${anggota}" method="post">
            <table class="bordered">
                <input type="hidden" data-th-field="*{idAnggota}"/>
                <tr>
                    <td>Nama:</td>
                    <td><input type="text" data-th-field="*{nama}" /></td>
                </tr>
                <tr>
                    <td>Alamat:</td>
                    <td><input type="text" data-th-field="*{alamat}" /></td>
                </tr>
                <tr>
                    <td>Kontak:</td>
                    <td><input type="text" data-th-field="*{kontak}" /></td>
                </tr>
                <tr>
                    <td>E-mail:</td>
                    <td><input data-th-field="*{email}" /></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button type="submit" class="btn blue">Save</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
</body>
</html>