<!DOCTYPE html>
<html xmlns:th="http://www/thymeleaf.org">
<head>
    <title>PT. Mega Giga Solusindo</title>
    <link th:href="@{/resources/css.css}" href="/resources/css.css"  rel="stylesheet" type="text/css"  />
</head>
<body>
<!--Menus and logo-->
<nav>
    <div class="nav-wrapper cyan">
        <a href="dashboard" class="brand-logo">Sistem MGS</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="listAnggota">Anggota</a></li>
            <li><a href="listBuku">Buku</a></li>
            <li><a href="listPetugas">Petugas</a></li>
            <li><a href="listPeminjaman">Peminjaman</a></li>
            <li><a href="listPengembalian">Pengembalian</a></li>
            <li><a href="/">Log out</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <h4><a href="newAnggota">+Tambah</a></h4>
    <table class="bordered">
        <th>Id :</th>
        <th>Nama :</th>
        <th>Alamat :</th>
        <th>Kontak :</th>
        <th>E-mail :</th>
        <th>#</th>
        <tr data-th-each="anggota : ${listAnggota}">
            <td th:text="${anggota.idAnggota}">Id</td>
            <td th:text="${anggota.nama}">nama</td>
            <td th:text="${anggota.alamat}">alamat</td>
            <td th:text="${anggota.kontak}">kontak</td>
            <td th:text="${anggota.email}">email</td>
            <td>
                <a href="#" data-th-href="@{/editAnggota(id=${anggota.idAnggota})}">Edit</a> ||
                <a href="#" data-th-href="@{/deleteAnggota(id=${anggota.idAnggota})}">Delete</a>
            </td>
        </tr>
    </table>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
</body>
</html>