<!DOCTYPE html>
<html xmlns:th="http://www/thymeleaf.org">
<head>
    <title>MSG System - Peminjaman</title>
    <link th:href="@{/resources/css.css}" href="/resources/css.css"  rel="stylesheet" type="text/css"  />
    <script LANGUAGE="JavaScript">
        <!-- Begin
        function sendValue (s){
            window.opener.document.getElementById('lbuku').value = s;
            window.close();
        }
        //  End -->
    </script>
</head>
<body>
<nav>
    <div class="nav-wrapper cyan">
        <a href="#" class="brand-logo">Daftar Buku</a>
    </div>
</nav>
<div class="container">
    <table class="bordered">
        <th>No</th>
        <th>Judul</th>
        <th>Penulis</th>
        <th>Penerbit</th>
        <th>Tahun</th>
        <th>#</th>

        <tr data-th-each="buku : ${listBuku}">
            <td th:text="${buku.id_buku}">Id</td>
            <td th:text="${buku.judul}">buku</td>
            <td th:text="${buku.penulis}">penulis</td>
            <td th:text="${buku.penerbit}">penerbit</td>
            <td th:text="${buku.tahun}">buku</td>
            <td>
                <a href="#" th:onclick="|sendValue('${buku.id_buku}')|">Pilih</a>
            </td>

        </tr>
    </table>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
</body>
</html>