<!DOCTYPE html>
<html xmlns:th="http://www/thymeleaf.org">
<head>
    <title>MSG System - Buku</title>
    <link th:href="@{/resources/css.css}" href="/resources/css.css"  rel="stylesheet" type="text/css"  />
</head>
<body>
<!--Menus and logo-->
<nav>
    <div class="nav-wrapper cyan">
        <a href="dashboard" class="brand-logo">Sistem MGS</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="listAnggota">Anggota</a></li>
            <li><a href="listBuku">Buku</a></li>
            <li><a href="listPetugas">Petugas</a></li>
            <li><a href="listPeminjaman">Peminjaman</a></li>
            <li><a href="listPengembalian">Pengembalian</a></li>
            <li><a href="/">Log out</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <h4><a href="newBuku">+Tambah</a></h4>
    <table class="bordered">
        <th>No</th>
        <th>Judul</th>
        <th>Penulis</th>
        <th>Penerbit</th>
        <th>Tahun</th>
        <th>#</th>

        <tr data-th-each="buku : ${listBuku}">
            <td th:text="${buku.id_buku}">Id</td>
            <td th:text="${buku.judul}">buku</td>
            <td th:text="${buku.penulis}">penulis</td>
            <td th:text="${buku.penerbit}">penerbit</td>
            <td th:text="${buku.tahun}">buku</td>
            <td>
                <a href="#" data-th-href="@{/editBuku(id=${buku.id_buku})}">Edit</a> ||
                <a href="#" data-th-href="@{/deleteBuku(id=${buku.id_buku})}">Delete</a>
            </td>

        </tr>
    </table>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
</body>
</html>