<!DOCTYPE html>
<html xmlns:th="http://www/thymeleaf.org">
<head>
    <title>MSG System - Dashboard</title>
    <link th:href="@{/resources/css.css}" href="/resources/css.css"  rel="stylesheet" type="text/css"  />
</head>
<body>
<!--Menus and logo-->
<nav>
    <div class="nav-wrapper cyan">
        <a href="dashboard" class="brand-logo">Sistem MGS</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="listAnggota">Anggota</a></li>
            <li><a href="listBuku">Buku</a></li>
            <li><a href="listPetugas">Petugas</a></li>
            <li><a href="listPeminjaman">Peminjaman</a></li>
            <li><a href="listPengembalian">Pengembalian</a></li>
            <li><a href="/">Log out</a></li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="row" align="center">
        <div class="card-panel cyan darken-2" style="height: 300px"><h1>Welcome</h1></div>
    </div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
</body>
</html>