<!DOCTYPE html>
<html xmlns:th="http://www/thymeleaf.org">
<head>
    <title>MSG System - Peminjaman</title>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
    <link th:href="@{/resources/css.css}" href="/resources/css.css"  rel="stylesheet" type="text/css"  />
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $( function() {
            $( "#tanggalPinjam" ).datepicker();
            $( "#tanggalKembali" ).datepicker();
        } );
    </script>
</head>
<body>
<nav>
    <div class="nav-wrapper cyan">
        <a href="/dashboard" class="brand-logo">Sistem MGS</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/listAnggota">Anggota</a></li>
            <li><a href="listBuku">Buku</a></li>
            <li><a href="listPetugas">Petugas</a></li>
            <li><a href="/listPeminjaman">Peminjaman</a></li>
            <li><a href="listPengembalian">Pengembalian</a></li>
            <li><a href="/">Log out</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="row col s8">
        <h4>Tambah/Edit Peminjaman</h4>
        <form action="savePeminjaman" data-th-action="@{/savePeminjaman}" data-th-object="${peminjaman}" method="post">
            <table class="bordered">
                <input type="hidden" data-th-field="*{idPeminjaman}"/>
                <tr>
                    <td>Kode Pinjam:</td>
                    <td><input type="text" data-th-field="*{kodePeminjaman}" /></td>
                </tr>
                <tr>
                    <td>Tanggal Pinjam:</td>
                    <td><input type="text" id="tanggalPinjam" data-th-field="*{tanggalPinjam}" /></td>
                </tr>
                <tr>
                    <td>Buku:</td>
                    <td>
                        <input type="text" id="lbuku" data-th-field="*{buku.id_buku}" onClick="window.open('/bukulist','popuppage','width=900,toolbar=0,resizable=0,scrollbars=no,height=500,top=100,left=100');"/>
                    </td>
                </tr>
                <tr>
                    <td>Anggota:</td>
                    <td>
                        <input type="text" id="langgota" data-th-field="*{anggota.idAnggota}" onClick="window.open('/anggotalist','popuppage','width=900,toolbar=0,resizable=0,scrollbars=no,height=500,top=100,left=100');" />
                    </td>
                </tr>
                <tr>
                    <td>Petugas:</td>
                    <td>
                        <input type="text" id="lpetugas" data-th-field="*{petugas.id_petugas}" onClick="window.open('/petugaslist','popuppage','width=900,toolbar=0,resizable=0,scrollbars=no,height=500,top=100,left=100');" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button type="submit" class="btn blue">Save</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
</body>
</html>