<!DOCTYPE html>
<html xmlns:th="http://www/thymeleaf.org">
<head>
    <title>MSG System - Peminjaman</title>
    <link th:href="@{/resources/css.css}" href="/resources/css.css"  rel="stylesheet" type="text/css"  />
</head>
<body>
<!--Menus and logo-->
<nav>
    <div class="nav-wrapper cyan">
        <a href="/dashboard" class="brand-logo">Sistem MGS</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/listAnggota">Anggota</a></li>
            <li><a href="listBuku">Buku</a></li>
            <li><a href="listPetugas">Petugas</a></li>
            <li><a href="/listPeminjaman">Peminjaman</a></li>
            <li><a href="listPengembalian">Pengembalian</a></li>
            <li><a href="/">Log out</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <h4><a href="newPeminjaman">+Tambah</a></h4>
    <table class="bordered">
        <th>No :</th>
        <th>Kode Pinjam :</th>
        <th>Tanggal Pinjam :</th>
        <th>Buku :</th>
        <th>Anggota :</th>
        <th>Petugas :</th>
        <th>#</th>
        <tr data-th-each="peminjaman : ${listPeminjaman}">
            <td th:text="${peminjaman.idPeminjaman}">Id</td>
            <td th:text="${peminjaman.kodePeminjaman}">Kode</td>
            <td th:text="${peminjaman.tanggalPinjam}">tanggalpinjam</td>
            <td th:text="${peminjaman.buku.judul}">judul</td>
            <td th:text="${peminjaman.anggota.nama}">nama anggota</td>
            <td th:text="${peminjaman.petugas.nama}">nama petugas</td>
            <td>
                <a href="#" data-th-href="@{/editPeminjaman(id=${peminjaman.idPeminjaman})}">Edit</a> ||
                <a href="#" data-th-href="@{/deletePeminjaman(id=${peminjaman.idPeminjaman})}">Delete</a>
            </td>
        </tr>
    </table>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
</body>
</html>