<!DOCTYPE html>
<html xmlns:th="http://www/thymeleaf.org">
<head>
    <title>MSG System - Peminjaman</title>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
    <link th:href="@{/resources/css.css}" href="/resources/css.css"  rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $( function() {
            $( "#tanggalKembali" ).datepicker();
        } );
    </script>
</head>
<body>
<!--Menus and logo-->
<nav>
    <div class="nav-wrapper cyan">
        <a href="/dashboard" class="brand-logo">Sistem MGS</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/listAnggota">Anggota</a></li>
            <li><a href="listBuku">Buku</a></li>
            <li><a href="listPetugas">Petugas</a></li>
            <li><a href="/listPeminjaman">Peminjaman</a></li>
            <li><a href="listPengembalian">Pengembalian</a></li>
            <li><a href="/">Log out</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="row col s8">
        <h4>Tambah/Edit Peminjaman</h4>
            <form action="savePengembalian" data-th-action="@{/savePengembalian}" data-th-object="${peminjaman}" method="post">
            <table class="bordered">
                <input type="hidden" data-th-field="*{idPeminjaman}"/>
                <tr>
                    <td>Kode Pinjam:</td>
                    <td><input type="text" data-th-field="*{kodePeminjaman}" readonly="true"/></td>
                </tr>
                <tr>
                    <td>Tanggal Pinjam:</td>
                    <td><input type="text" data-th-field="*{tanggalPinjam}" readonly="true" /></td>
                </tr>
                <tr>
                    <td>Tanggal Kembali:</td>
                    <td><input type="text" data-th-field="*{tanggalKembali}" /></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button type="submit" class="btn blue">Save</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
</body>
</html>