<!DOCTYPE html>
<html xmlns:th="http://www/thymeleaf.org">
<head>
    <title>MSG System - Peminjaman</title>
    <link th:href="@{/resources/css.css}" href="/resources/css.css"  rel="stylesheet" type="text/css"  />
    <script LANGUAGE="JavaScript">
        <!-- Begin
        function sendValue (s){
            window.opener.document.getElementById('lpetugas').value = s;
            window.close();
        }
        //  End -->
    </script>
</head>
<body>
<nav>
    <div class="nav-wrapper cyan">
        <a href="#" class="brand-logo">Daftar Petugas</a>
    </div>
</nav>
<div class="container">
    <table class="bordered">
        <th>No</th>
        <th>Nama</th>
        <th>Alamat</th>
        <th>Kontak</th>
        <th>#</th>
        <tr data-th-each="petugas : ${listPetugas}">
            <td th:text="${petugas.id_petugas}">Id</td>
            <td th:text="${petugas.nama}">nama</td>
            <td th:text="${petugas.alamat}">alamat</td>
            <td th:text="${petugas.kontak}">kontak</td>
            <td>
                <a href="#" th:onclick="|sendValue('${petugas.id_petugas}')|">Pilih</a>
            </td>
        </tr>
    </table>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
</body>
</html>